spring:
  datasource:
    url: jdbc:mysql://localhost:3306/board
    username: root
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
      # show_sql: true
      format_sql: true
      default_batch_fetch_size: 1000
    open-in-view: false

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.type: trace