<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>


        <h2 th:text="${board.title}">제목</h2>
        <p th:text="${board.content}" class="border" rows="20">내용</p>

    <form th:action="@{/board/delete/{id}(id = ${board.id})}" method="post">
        <a th:href="@{/board/update/{id}(id = ${board.id})}" class="btn btn-primary" role="button">수정</a>
        <button type="submit" class="btn btn-danger">글삭제</button>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>