<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />

            <form th:action="@{/board/update/{id}(id = ${board.id})}" method="post">

                <input name="title" type="text" class="form-control mt-4 mb-2" th:value="${board.title}">
                <textarea name="content" th:text="${board.content}" class="form-control" rows="20">내용</textarea>
                <button type="submit" class="btn btn-primary">수정</button>
            </form>

        <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
</body>
</html>